@yellow: #fffa19;
@green: #00b33c;
@red: #b30000;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
  
    
}

.paddings (@top: 0px, @right: 0px, @bottom: 0px, @left: 0px){
    padding: @top, @right, @bottom, @left;
}


.jumbotron {
    background-color: @yellow;
    color: black;
    .margenes(50px,0px) }
  
  footer {
    .paddings(10px, 10px, 0, 10px);
    background-color: @yellow;
    .margenes(10px,0px) }
  
  .card-hotel {
    flex: 1 200px;
    /*padding: 2px 0px 2px 0px;*/
    .margenes(10px,0px) }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    .paddings(0px, 10px, 0, 0px);
  }

  
  .img-hotel-custom {
    width: 20%; }
  
  .tab-content {
    padding-top: 10px; }
  