$yellow: #fffa19;
$green: #00b33c;
$red: #b30000;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
  
    
}

@mixin paddings ($top, $right, $bottom, $left){
    padding: $top, $right, $bottom, $left;
}

.jumbotron{
    background-color: $yellow;
    color: black;
   @include margenes(50px,0px);
}

footer {
    //padding: 10px 10px 0px 10px;
    @include paddings(10px,10px ,0px ,10px );
    background-color: $yellow;
    @include margenes(10px,0px);
}

.card-hotel {
    flex: 1 200px;
    /*padding: 2px 0px 2px 0px;*/
    @include margenes(10px,0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;

}

.footer-address-icon{
   // padding-right: 10px;
    @include paddings(0px,10px ,0px ,0px)
}

.img-hotel-custom {
    width: 20%;
}

.tab-content{
    padding-top: 10px;
}